@charset "UTF-8";
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 400;
	src: local("Titillium"),
	local("Titillium Web"),
	local("TitilliumWeb-Regular"),
	/* Temporaire */ url(./TitilliumWeb-Regular.woff) format("woff"),
	url(https://dascritch.net/themes/DSN13/fonts/TitilliumWeb-Regular.woff) format("woff");
}

@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 700;
	src: local("Titillium Bold"),
	local("Titillium WebBold"),
	local("TitilliumWeb-Bold"),
	/* Temporaire */ url(./TitilliumWeb-Bold.woff) format("woff"),
	url(https://dascritch.net/themes/DSN13/fonts/TitilliumWeb-Bold.woff) format("woff");
}


body {
	overflow-x : hidden;
	color : black;
	background : url(./graphy-light.png);
	font-family: 'Titillium Web','Ubuntu', sans-serif;
	font-size: 1.1em;
}

section, article, h1, h2, h3, img, a, span, #carte {
	transition-property : opacity background color max-height transform ;
	-moz-transition-property: opacity background color max-height transform ;
	-webkit-transition-property: opacity background color max-height transform ;
	transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
}

a , a:visited {
	color : #00F;
	text-decoration: none;
}

a:hover , a.active{
	background : rgba(0,0,255,0.2);
	text-decoration: underline;
}

a img {
		border : 0;
}

p {
	margin : 10px 0;
}

section, aside, footer {
	margin : 50px 20px 10px;
}

main {
	display : flex;
	flex-direction : column;
	width: 100vw;
	align-items : center;
}

section {
	max-width : 1800px;
	padding : 28px 0px 6px;
	text-align : center;
	backdrop-filter: blur(2px);
}

.no {
	display : none;
}

menu {
	background : #fff;
	background : url(./graphy-blueprint.png);
	position: fixed;
	/* TODO : passage en propriété CSS3 semi fixe; */
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top: 0px;
	width : 100%;
	border-bottom : 1px #A2A2A2 solid;
	box-shadow : #ddd 0px 10px 5px 0px;
	box-shadow : rgba(0,0,0,0.3) 0px 3px 5px 0px;
	z-index : 10;
	padding : 0px;
	margin : 0px auto;
	text-align : center;
}

menu li {
	display : inline-block;
	padding : 0px;
	margin : 0px;
}

menu a , menu a:visited , menu a:hover , menu a:active {
	display : inline-block;
	border : none;
	padding : 3px 4px;
	color : white;
}

.favicon {
	width : 16px;
	height : 16px;
}

.fn strong {
	white-space: nowrap;
}

.family-name {
	white-space: nowrap;
}

#nightshot {
	width : 128px;
	height : 128px;
	margin : 0 20px 10px 0;
	display : inline-block;
	vertical-align: middle;
}

#carte {
	width : 415px; /* 83mm x 52mm */
	height :  260px;
	text-align : center;
	position : relative;
	float : right;
	border : 1px grey solid;
	box-shadow : #ddd 6px 10px 10px 5px;
	box-shadow : rgba(0,0,0,0.3) 6px 10px 10px 5px;
	margin-bottom : -60px;
	margin-left : -20px;
	z-index : 10;
	/*  translateX was 40px, but incredibely hard to tune */
	-moz-transform 		: rotate(10deg) translateX(5px) translateY(-100px);
	-o-transform 		: rotate(10deg) translateX(5px) translateY(-100px);
	-ms-transform 		: rotate(10deg) translateX(5px) translateY(-100px);
	-webkit-transform	: rotate(10deg) translateX(5px) translateY(-100px);
	transform 			: rotate(10deg) translateX(5px) translateY(-100px);
	background-color : white;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.2, #e6e6e6), color-stop(0.6, #f5f5f5), color-stop(0.8, #fff)
	);
	background-image: -moz-linear-gradient(center bottom, #e6e6e6 20%, #f5f5f5 60%, #fff 80%);
	background-image: -o-linear-gradient(center bottom, #e6e6e6 20%, #f5f5f5 60%, #fff 80%);
	background-image: -ms-linear-gradient(center bottom, #e6e6e6 20%, #f5f5f5 60%, #fff 80%);
	background-image: gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.2, #e6e6e6), color-stop(0.6, #f5f5f5), color-stop(0.8, #fff)
	);
	background-image: linear-gradient(center bottom, #e6e6e6 20%, #f5f5f5 60%, #fff 80%);
}
#carte a {
	border : none;
	padding : 0;
}

h1 {
	font-weight : normal;
	text-align: left;
}

h2 {
	text-align : center;
	margin : 4px auto;
}

#me, .describ {
	display: grid;
	max-width: 800px;
	place-items: center center;
	margin: auto;
	padding : 10px 10px;
}

.chapeau {
	text-align : center;
	max-width : 800px;
	margin : 0 auto;
}

article {
	clear:both;
	padding : 0;
	margin :  5px 5px;
	position : relative;
	border : 1px #A2A2A2 dashed;
	text-align : left;

}

.bloc {
	display : block;
	background-color : rgba(255,255,255,0.3);
	margin : 0;
	padding :  10px ;
}

a.bloc {
	color : #000;
}

a.bloc h3 {
	color : #00F;
}

p {
	text-align: left;
}

#carte h2 {
	position : absolute ;
	bottom : 120px ; /* approx (415-36)÷2 */
	width : 100%;
	font-size : 36px;
}

#carte p {
	position : absolute ;
	bottom : 5% ;
	text-align : center;
	width : 100%;
}

#carte p a {
	padding : 4px 8px;
}



#rea article {
	margin : 10px auto;
}

#rea header {
	display : flex;
	flex-direction: row;
	justify-content : center;
	position : relative;
	text-align:center;
}


#rea img {
	flex :  0 0 600px;
	max-width: 600px;
}

.teaser {
	flex :  0 0 600px;
	/*display : inline-block;*/
	background : rgba(255,255,255,0.4);
	padding : 6px;
}

.level2 article {
	display : inline-block;
	width : 45%;
	vertical-align: top;
	text-align : left;
}

.level2 img {
	width : 200px;
	max-width : 50% /*WTF?*/ !important;
	margin : 0 10px 10px 0;
}

.level2 p {
	clear : both;
}

.level3 {
	text-align: center;
}

.level3 article {
	display : inline-block;
	width : 30%;
	vertical-align: top;
	text-align : left;
}

.level3 img {
	max-width : 35% /*WTF?*/ !important;
	margin : 0 0 10px  10px;
}

footer {
	text-align : center;
}

footer span {
	display : inline-block ;
}

@media all and (min-width: 1024px)
{

	.level2 article , .level3 article{
		max-width : 800px;
	}
}

@media all and (max-width: 1200px)
{
	#rea header {
		display : block;
	}

	#rea article img {
		display : block;
		margin : 0 auto;
		width : 100%;
	}
}

@media all and (max-width: 849px)
{
	#carte {
		width : 375px; /* 415 - (4px de rognés × 2 × 5 <a> */
	}

	#carte p a {
		padding : 4px;
	}

	#nightshot {
		width : 96px;
		height : 96px;
		margin-right: 10px;
	}

	h1 {
		font-size : 1.7em;
	}

	.level3 article {
		width : 45%;
	}

	#rea header {
		display : block;
	}

	#rea article img {
		display : block;
		margin : 0 auto;
		width : 100%;
	}
}

@media all and (max-width: 720px)
{
	#carte {
		position : relative ;
		float : none;
		top : -90px;
		margin : 5px auto -60px ;
		transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		background-image: gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.8, #e6e6e6), color-stop(0.4, #f5f5f5), color-stop(0.2, #fff)
		);
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.8, #e6e6e6), color-stop(0.4, #f5f5f5), color-stop(0.2, #fff)
		);
		background-image: -moz-linear-gradient(center top, #e6e6e6 20%, #f5f5f5 60%, #fff 80%);
	}

	#nightshot {
		display : inline-block;
		vertical-align: middle;
	}

	#me p {
		clear : left;
	}

	.level2 article {
		display : block;
		width : auto;
	}

	.level3 article {
		width : 45%;
	}

}


@media all and (max-width: 620px)
{

	section, aside, footer {
		margin : 20px 0px 10px;
	}

	#rea article {
		width : 95%;
		vertical-align :middle;
	}

	#rea .teaser {
		position : relative;
		padding : 6px;
		width : auto;
		top : 0;
		left : 0;
		background : none;
	}

	.level3 article {
		display : block;
		width : auto;
	}

}

@media all and (max-width: 420px)
{
	p {
		font-size: 0.9em;
	}

	#carte {
		width : 260px;
		top : -90px;
		left : -20px;
		margin : 5px auto -60px ;
		transform:rotate(0deg); 
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg); 
		background : black ;
		background-image: gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.8, #e6e6e6), color-stop(0.4, #f5f5f5), color-stop(0.2, #fff)
		);
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0.8, #e6e6e6), color-stop(0.4, #f5f5f5), color-stop(0.2, #fff)
		);
		background-image: -moz-linear-gradient(center top, #e6e6e6 20%, #f5f5f5 60%, #fff 80%);
	}

	#carte h2 {
		font-size: 24px;
	}

	#carte p span {
		display : none;
	}

	#carte p a {
		/*display : block;*/
		padding: 4px;
	}

	#nightshot {
		width : 64px;
		height : 64px;
		margin : 0 10px 10px 0;
	}

	h1 {
		font-size: 1.5em;
	}
}


#konami * {
	border : 1px #A2A2A2 dashed;
}


#konami *:hover {
	border : 1px #A2A2A2 solid;
}



@media (prefers-color-scheme: dark) {
	body, a.bloc {
		color : #ccc;
	}
	body {
		background : url(./graphy-dark.png);
	}

	a , a:visited, a.bloc h3 {
		color : #aaF;
	}

	a:hover , a.active{
		background : rgba(0,0,255,0.2);
	}

	.bloc, .teaser {
		background-color : rgba(255,255,255,0.1);
	}

	#carte {
		color : black;
	}
	#carte a {
		color : #007;
	}
}